* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Tahoma, sans-serif;
  background-color: #1a1c20;
  color: #fdfbfb;
  overflow-x: hidden;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 29%;
}
.nav {
  width: 85%;
  height: 70px;
  margin: 0 auto;
  justify-content: space-between;
}
.check {
  display: none;
}
.nav ol {
  list-style: none;
}
.nav ol a {
  text-decoration: none;
  color: #fcf1f1b4;
  margin: 0.3em;
  padding: 0.5em 1.5em;
  border-radius: 10px;
}
.nav ol a:hover {
  transition: background 0.8s;
  background-color: #1a1c20;
}
.main {
  width: 85%;
  height: 650px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}
.main::before,
.main::after {
  content: "";
  width: 80%;
  height: 70%;
  background-color: #151618;
  position: absolute;
  bottom: 0;
  right: -10%;
  z-index: -10;
}
.main::after {
  background: #151618;
  height: 60%;
  top: 20px;
  left: -40%;
  border-top: 5px solid rgb(253, 6, 6);
  border-right: 5px solid yellow;
  z-index: -11;
}
.box h1 {
  font-size: 4.5em;
  margin-bottom: 0.2em;
}
.box p {
  font-size: 1.2em;
  color: #fcf1f1b4;
  margin-bottom: 1.2em;
}
.main img {
  width: 30em;
  position: absolute;
  right: 60px;
  z-index: -1;
}
.card {
  box-shadow: 10px 15px 15px 5px #151618;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  overflow: auto;
}
.profile header {
  text-align: center;
}
.profile th {
  padding-right: 15px;
  vertical-align: top;
  line-height: 1.5;
  width: 11em;
}
.profile td {
  vertical-align: top;
  text-align: left;
}
main {
  padding: 20px;
  overflow: auto;
  background-color: #1a1c20;
  color: #fdfbfb;
}
#keahlian {
  padding-bottom: 15px;
}
.skill {
  width: 100%;
  background-color: #151618;
}
.s {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
}
.html {
  width: 85%;
  background-color: #a52a2a;
}
.css {
  width: 70%;
  background-color: #6495ed;
}
.js {
  width: 55%;
  background-color: #ffd700;
}
.php {
  width: 60%;
  background-color: #3333c0;
}
.java {
  width: 60%;
  background-color: rgb(253, 6, 6);
}
.cpp {
  width: 40%;
  background-color: rgb(22, 189, 44);
}
.py {
  width: 50%;
  background-color: rgb(221, 15, 176);
}
.welding {
  width: 65%;
  background-color: rgb(245, 8, 79);
}
.inbound {
  width: 80%;
  background-color: rgb(5, 186, 231);
}
.outbound {
  width: 60%;
  background-color: rgb(2, 99, 46);
}
.office {
  width: 80%;
  background-color: rgb(97, 163, 218);
}

#content {
  float: left;
  width: 68%;
}
aside {
  float: right;
  width: 32%;
  padding-left: 20px;
}
footer {
  padding: 30px;
  color: #fdfbfb;
  background-color: #151618;
  text-align: left;
  font-weight: bold;
}
.sosmed h3{
  padding-bottom: 1em;
}
.foot p {
  text-align: center;
  padding-top: 20px;
  font-size: larger;
  font-weight: bold;
}
.sosmed th {
  padding-left: 130px;
  padding-right: 100px;
}
#content img {
  width: 135px;
  margin: 10px 10px 10px 10px;
}
.daftar td {
  padding-top: 10px;
  vertical-align: top;
  display: flex;
  flex-direction: column;
}
#fotoku {
  margin-top: 10px;
  width: 150px;
}

section th {
  text-align: left;
}
@media screen and (max-width: 1000px) {
  #content,
  aside {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 1000px) {
  body {
    font-size: 14px;
  }
  .main img {
    width: 35em;
    top: 80px;
  }
  .main {
    align-items: flex-end;
  }
  .check {
    display: block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: relative;
    padding-left: 98%;
    appearance: none;
    -webkit-appearance: none;
  }
  .check::before {
    content: "=";
    font-weight: 700;
    font-size: 3em;
    color: #fcf1f1b4;
  }
  .check:checked::before {
    content: "x";
  }
  .nav ol {
    position: absolute;
    width: 100%;
    flex-direction: column;
    background: #1a1c20;
    top: 80px;
    left: 0;
    z-index: 100;
    padding: 1.2em;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    transition: clip-path 0.4s;
  }
  .check:checked ~ ol {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  .nav ol::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: rgb(253, 6, 6);
  }
}
@media (max-width: 900px) {
  .main img {
    width: 28em;
  }
}
@media (max-width: 600px) {
  .main img {
    width: 20em;
  }
}
@media (max-width: 400px) {
  body {
    font-size: 10px;
  }
  .main {
    width: 450px;
  }
}
